body {
    color:rebeccapurple;
     background:lightblue;
}

header{
    border-bottom:solid 1px lightpink;
    font-sive:30px;
}

section{
  background: rgb(184, 156, 213);

}


    