

body {
    color:rebeccapurple;
     background:lightblue;
     font-family: "Epunda Slab", serif;
}

header{
    border-bottom:solid 1px lightpink;
    font-size:30px;
    font-size: 20px;
font-style:10px;

}
   section{
    background-color: #f5bfc7;
padding-bottom: 80px;
padding-top: 80px;
}


h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

img {
    height: 200px;

}